<div id="post" style = "opacity:1; height:relativity; width:500px; background-color:#aabbcc">
    <h3><%= post.id.to_s %><em>:   </em><%= link_to_unless_current post.title, post %></h3>
    <%= simple_format post.content %>
</div>